<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinexcel.works.mapper.PesWieWoOperationMaterialsErpPriceMapper">

    <resultMap type="PesWieWoOperationMaterialsPriceErp" id="PesWieWoOperationMaterialsPriceErpResult">
        <result property="pesWorkOrderId"    column="pes_work_order_id"    />
        <result property="pesWorkOrderOperationId"    column="pes_work_order_operation_id"    />
        <result property="workOrderId"    column="work_order_id"    />
        <result property="organizationId"    column="organization_id"    />
        <result property="workOrderOperationMaterialId"    column="work_order_operation_material_id"    />
        <result property="materialSequenceNumber"    column="material_sequence_number"    />
        <result property="requiredDate"    column="required_date"    />
        <result property="inventoryItemId"    column="inventory_item_id"    />
        <result property="quantityPerProduct"    column="quantity_per_product"    />
        <result property="itemType"    column="item_type"    />
        <result property="basisType"    column="basis_type"    />
        <result property="supplyType"    column="supply_type"    />
        <result property="workOrderOperationId"    column="work_order_operation_id"    />
        <result property="itemNumber"    column="item_number"    />
        <result property="itemDescription"    column="item_description"    />
        <result property="requiredQuantity"    column="required_quantity"    />
        <result property="uomCode"    column="uom_code"    />
        <result property="issuedQuantity"    column="issued_quantity"    />
        <result property="sunHaoQuantity"    column="sun_hao_quantity"    />
        <result property="techniquesCode"    column="techniques_code"    />
        <result property="remark"    column="remark"    />
        <result property="newInventoryItemId"    column="new_inventory_item_id"    />
        <result property="newItemNumber"    column="new_item_number"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="lastUpdateDate"    column="last_update_date"    />
        <result property="lastUpdateBy"    column="last_update_by"    />
        <result property="pesWorkOrderMaterialId"    column="pes_work_order_material_id"    />
        <result property="transferedQuantity"    column="transfered_quantity"    />
        <result property="level"    column="level"    />
        <result property="countFlag"    column="count_flag"    />
        <result property="subinventoryCode"    column="subinventory_code"    />
        <result property="workSubId"    column="work_sub_id"    />
        <result property="newPercentQuantity"    column="new_percent_quantity"    />
        <result property="newItemDescription"    column="new_item_description"    />
        <result property="maxMaterialSequenceNumber"    column="max_material_sequence_number"    />
        <result property="onhandQuantity"    column="onhand_quantity"    />
        <result property="workCenterCode"    column="work_center_code"    />

        <result property="customerName"    column="customer_name"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderNumberLine"    column="order_number_line"    />
        <result property="contractNumber"    column="contract_number"    />
        <result property="workOrderNumber"    column="work_order_number"    />
        <result property="pItemNumber"    column="p_item_number"    />
        <result property="pItemDescription"    column="p_item_description"    />
        <result property="plannedStartDate"    column="planned_start_date"    />
        <result property="plannedStartQuantity"    column="planned_start_quantity"    />
        <result property="planName"    column="plan_name"    />
        <result property="gongSubinventoryCode"    column="gong_subinventory_code"    />
        <result property="workOrderStatusId"    column="work_order_status_id"    />
        <result property="plannedCompletionDate"    column="planned_completion_date"    />

        <result property="lotControlCode"    column="lot_control_code"    />
        <result property="organizationCode"    column="organization_code"    />
        <result property="diffQuantity"    column="diff_quantity"    />
        <result property="overQuantity"    column="over_quantity"    />
        <result property="issuedDiffQuantity"    column="issued_diff_quantity"    />
        <result property="pSumUnitCost"    column="p_sum_unit_cost"    />
        <result property="subSumUnitCost"    column="sub_sum_unit_cost"    />
        <result property="chanPingXian"    column="chan_ping_xian"    />
    </resultMap>

    <sql id="selectPesWieWoOperationMaterialsErpPriceImportVo">
        SELECT
            wwom.pes_work_order_material_id,
            wwob.customer_name,
            wwob.order_number,
            isnull(eff.chan_ping_xian,0) as chan_ping_xian,
            wwob.order_number_line,
            wwob.contract_number,
            pwcd.work_center_code,
            wwob.work_order_number,
            wwob.work_order_status_id,
            wwob.p_item_number,
            wwob.p_item_description,
            isnull(pitem.sum_unit_cost,0) as p_sum_unit_cost,
            wwob.planned_start_date,
            wwob.planned_completion_date,
            wwob.planned_start_quantity,
            wwob.plan_name,
            wwom.material_sequence_number,
            wwom.item_number,
            wwom.item_description,
            isnull(subitem.sum_unit_cost,0) as sub_sum_unit_cost,
            wwom.quantity_per_product,
            wwom.item_type,
            wwom.basis_type,
            wwom.supply_type,
            wwom.required_quantity,
            wwom.transfered_quantity,
            wwom.uom_code,
            wwom.issued_quantity,
            wwom.sun_hao_quantity,
            wwom.techniques_code,
            wwom.remark,
            wwom.new_item_number,
            wwom.required_date,
            wwom.subinventory_code,
            isnull(sioqnc.quantity,0) as onhand_quantity,
            isnull(overqty.over_quantity,0) as over_quantity
        FROM
            pes_wie_work_orders_b_erp wwob
            LEFT JOIN sync_cst_costed_vu_costs_v_unit_price pitem
            on (wwob.organization_id = pitem.organization_id
            and wwob.inventory_item_id = pitem.inventory_item_id)
            LEFT JOIN sync_doo_headers_eff_b eff
            on (wwob.order_number = eff.order_number),
            pes_work_center_description_all pwcd,
            pes_wie_wo_operation_materials_erp wwom
            left join sync_inv_onhand_quantity_new_code sioqnc
            on (wwom.inventory_item_id = sioqnc.inventory_item_id
            and wwom.organization_id = sioqnc.organization_id
            and wwom.subinventory_code = sioqnc.subinventory_code)
            left join cux_mes_work_material_all_v overqty
            on (wwom.work_order_id = overqty.work_order_id
            and wwom.organization_id = overqty.organization_id
            and wwom.inventory_item_id = overqty.inventory_item_id)
            LEFT JOIN sync_cst_costed_vu_costs_v_unit_price subitem
            on (wwom.organization_id = subitem.organization_id
            and wwom.inventory_item_id = subitem.inventory_item_id)
    </sql>


    <select id="selectPesWieWoOperationMaterialsErpListByPriceImport" parameterType="PesWieWoOperationMaterialsPriceErp" resultMap="PesWieWoOperationMaterialsPriceErpResult">
        <include refid="selectPesWieWoOperationMaterialsErpPriceImportVo"/>
        <where>
            and wwom.pes_work_order_id = wwob.pes_work_order_id
            and wwom.material_sequence_number > 0
            AND wwom.work_order_id > 0
            AND wwom.work_order_operation_material_id > 0
            AND wwob.organization_id = pwcd.organization_id
            AND wwob.work_center_id = pwcd.work_center_id
            <if test="workOrderNumber != null  and workOrderNumber != ''"> and wwob.work_order_number like (#{workOrderNumber} + '%')</if>
            <if test="pItemNumber != null  and pItemNumber != ''"> and wwob.p_item_number like (#{pItemNumber} + '%')</if>
            <if test="workOrderStatusId != null "> and wwob.work_order_status_id = #{workOrderStatusId}</if>
            <if test="workCenterCode != null "> and pwcd.work_center_code = #{workCenterCode}</if>
            <if test="planName != null  and planName != ''"> and wwob.plan_name = #{planName}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and wwob.order_number like (#{orderNumber} + '%')</if>
            <if test="itemNumber != null  and itemNumber != ''"> and wwom.item_number = #{itemNumber}</if>
            <if test="techniquesCode != null  and techniquesCode != ''"> and wwom.techniques_code = #{techniquesCode}</if>
            <if test="diffQuantity != null ">
                and (wwom.required_quantity + wwom.sun_hao_quantity + isnull(overqty.over_quantity,0)- wwom.ISSUED_QUANTITY) &gt; #{diffQuantity}
                and wwom.required_quantity > 0
            </if>
            <if test="issuedDiffQuantity != null ">
                and wwom.ISSUED_QUANTITY - (wwom.required_quantity + wwom.sun_hao_quantity + isnull(overqty.over_quantity,0)) &gt; #{issuedDiffQuantity}
                and wwom.required_quantity > 0
            </if>
            <if test="plannedStartDateMonths != null  and plannedStartDateMonths != ''"> and format(wwob.planned_start_date,'yyyyMM') = #{plannedStartDateMonths}</if>
        </where>
        order by wwom.pes_work_order_id desc,wwom.material_sequence_number asc
    </select>

</mapper>
