<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinexcel.quartz.mapper.MesOrganizationTransferAllMapper">

    <resultMap type="MesOrganizationTransferAllEO" id="MesOrganizationTransferAllEOResult">
        <result property="inventoryItemId"    column="inventory_item_id"    />
        <result property="itemNumber"    column="item_number"    />
        <result property="organizationId"    column="organization_id"    />
        <result property="transactionQuantity"    column="transaction_quantity"    />
        <result property="transactionUom"    column="transaction_uom"    />
        <result property="transactionDate"    column="transaction_date"    />
        <result property="subinventoryCode"    column="subinventory_code"    />
        <result property="transactionTypeId"    column="transaction_type_id"    />
        <result property="useCurrentCost"    column="use_current_cost"    />
        <result property="transferSubinventory"    column="transfer_subinventory"    />
        <result property="transferOganizationId"    column="transfer_oganization_id"    />
        <result property="remark"    column="remark"    />
        <result property="lastUpdateDate"    column="last_update_date"    />
        <result property="erpFlag"    column="erp_flag"    />
        <result property="erpFlagDate"    column="erp_flag_date"    />
        <result property="orgTransferId"    column="org_transfer_id"    />
        <result property="lotControlCode"    column="lot_control_code"    />
    </resultMap>

    <sql id="selectMesOrganizationTransferAllVo">
        SELECT
            mot.inventory_item_id,
            mot.item_number,
            mot.organization_id,
        (SELECT
                esb.LOT_CONTROL_CODE
          FROM
                sync_egp_system_items_b esb
          WHERE
              esb.ORGANIZATION_ID = mot.organization_id
          AND esb.INVENTORY_ITEM_ID = mot.INVENTORY_ITEM_ID) AS lot_control_code,
            mot.transaction_quantity,
            mot.transaction_uom,
            mot.transaction_date,
            mot.subinventory_code,
            mot.transaction_type_id,
            mot.use_current_cost,
            mot.transfer_subinventory,
            mot.transfer_oganization_id,
            mot.remark,
            mot.last_update_date,
            mot.erp_flag,
            mot.erp_flag_date,
            mot.org_transfer_id
        FROM
            mes_organization_transfer_all mot
    </sql>

    <select id="getOrganizationTransferList" parameterType="MesOrganizationTransferAllEO" resultMap="MesOrganizationTransferAllEOResult">
        <include refid="selectMesOrganizationTransferAllVo"/>
        <where>
            and (mot.ERP_FLAG = 0 or mot.ERP_FLAG = 2)
            <!--<if test="startUpdateDate != null and startUpdateDate != ''"> and mot.LAST_UPDATE_DATE &gt;= #{startUpdateDate}</if>-->
            <!--<if test="endUpdateDate != null and endUpdateDate != ''"> and mot.LAST_UPDATE_DATE &lt; #{endUpdateDate}</if>-->
        </where>
        order by mot.ERP_FLAG asc
    </select>

    <update id="updateErpFlag" parameterType="MesOrganizationTransferAllEO">
        update mes_organization_transfer_all
        <trim prefix="SET" suffixOverrides=",">
            ERP_FLAG_DATE = getdate(),
            <if test="erpFlag != null">ERP_FLAG = #{erpFlag},</if>
            <if test="errorInfor != null and errorInfor != ''">error_infor = #{errorInfor},</if>
        </trim>
        where org_transfer_id = #{orgTransferId}
    </update>

</mapper>