<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinexcel.quartz.mapper.SyncEgpSystemItemsBWMapper">

    <resultMap type="SyncEgpSystemItemsWEO" id="SyncEgpSystemItemsWEOResult"></resultMap>

    <delete id="deletebatchSyncEgpSystemItemsWEO">
        delete from sync_egp_system_items_b_w where
        <foreach collection="list" item="item" index="index" separator="or">
            ( INVENTORY_ITEM_ID=#{item.inventoryItemId,jdbcType=BIGINT}
            AND ORGANIZATION_ID=#{item.organizationId,jdbcType=BIGINT} )
        </foreach>
    </delete>

    <insert id="batchSyncEgpSystemItemsWEO">
        insert into sync_egp_system_items_b_w( INVENTORY_ITEM_ID, ORGANIZATION_ID, item_number, description, BUYER_NAME, LAST_UPDATED_BY, LAST_UPDATE_DATE,MINIMUM_ORDER_QUANTITY) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.inventoryItemId,jdbcType=BIGINT}, #{item.organizationId,jdbcType=BIGINT}, #{item.itemNumber,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, #{item.buyerName,jdbcType=VARCHAR}, #{item.lastUpdatedBy,jdbcType=VARCHAR}, #{item.lastUpdateDate,jdbcType=TIMESTAMP},cast(#{item.minimumOrderQuantity,jdbcType=DECIMAL} as decimal(15,5)))
        </foreach>
    </insert>

</mapper>