<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinexcel.quartz.mapper.SyncWieWorkOrdersBMapper">

    <resultMap type="SyncWieWorkOrdersBEO" id="SyncWieWorkOrdersBEOResult">
        <result property="organizationId"    column="ORGANIZATION_ID"    />
        <result property="workOrderId"    column="WORK_ORDER_ID"    />
        <result property="workOrderNumber"    column="WORK_ORDER_NUMBER"    />
        <result property="workOrderType"    column="WORK_ORDER_TYPE"    />
        <result property="workOrderStatusId"    column="WORK_ORDER_STATUS_ID"    />
        <result property="inventoryItemId"    column="INVENTORY_ITEM_ID"    />
        <result property="plannedStartQuantity"    column="PLANNED_START_QUANTITY"    />
        <result property="completedQuantity"    column="COMPLETED_QUANTITY"    />
        <result property="uomCode"    column="UOM_CODE"    />
        <result property="complSubinventoryCode"    column="COMPL_SUBINVENTORY_CODE"    />
        <result property="plannedStartDate"    column="PLANNED_START_DATE"    />
        <result property="plannedCompletionDate"    column="PLANNED_COMPLETION_DATE"    />
        <result property="workOrderDescription"    column="WORK_ORDER_DESCRIPTION"    />
        <result property="lastUpdateDate"    column="LAST_UPDATE_DATE"    />
        <result property="lastUpdatedBy"    column="LAST_UPDATED_BY"    />
        <result property="itemNumber"    column="ITEM_NUMBER"    />
        <result property="itemDescription"    column="ITEM_DESCRIPTION"    />
        <result property="workDefinitionId"    column="WORK_DEFINITION_ID"    />
        <result property="workDefName"    column="WORK_DEF_NAME"    />
        <result property="workDefNameDescription"    column="WORK_DEF_NAME_DESCRIPTION"    />
        <result property="workOrderPriority"    column="WORK_ORDER_PRIORITY"    />
        <result property="xianBieFlag"    column="xian_bie_flag"    />
    </resultMap>

    <sql id="selectSyncWieWorkOrdersBVo">
        SELECT
            wwob.organization_id,
            wwob.work_order_id,
            wwob.work_order_number,
            (SELECT
                    MAX (pplda.xian_bie_flag)
                FROM
                    pes_prod_line_days_line_all pplda
                WHERE
                    pplda.organization_id = wwob.ORGANIZATION_ID
                AND pplda.work_order_id = wwob.WORK_ORDER_ID
                AND pplda.xian_bie_flag IS NOT NULL
            ) AS xian_bie_flag,
            'NON_STANDARD' AS work_order_type,
            wwob.work_order_status_id,
            wwob.inventory_item_id,
            wwob.planned_start_quantity,
            wwob.completed_quantity,
            wwob.uom_code,
            wwob.completed_subinventory_code,
            wwob.planned_start_date,
            wwob.planned_completion_date,
            wwob.customer_name AS WORK_ORDER_DESCRIPTION,
            wwob.last_update_date,
            wwob.last_update_by,
            wwob.p_item_number AS ITEM_NUMBER,
            wwob.p_item_description AS ITEM_DESCRIPTION,
            NULL AS WORK_DEF_NAME,
            pwcd.work_center_name AS WORK_DEF_NAME_DESCRIPTION,
            wwob.order_number AS WORK_ORDER_PRIORITY
        FROM
            pes_wie_work_orders_b_erp wwob
            LEFT JOIN
            pes_work_center_description_all pwcd
            on (wwob.organization_id = pwcd.organization_id
            AND wwob.work_center_id = pwcd.work_center_id)
    </sql>

    <select id="selectSyncWieWorkOrdersBList" parameterType="SyncWieWorkOrdersBEO" resultMap="SyncWieWorkOrdersBEOResult">
        <include refid="selectSyncWieWorkOrdersBVo"/>
        <where>
            AND wwob.work_order_id > 0
            <if test="workOrderId != null "> and wwob.WORK_ORDER_ID = #{workOrderId}</if>
            <if test="workOrderNumber != null  and workOrderNumber != ''"> and wwob.WORK_ORDER_NUMBER like (#{workOrderNumber} + '%')</if>
            <if test="beginTime != null and beginTime != ''"> and wwob.LAST_UPDATE_DATE &gt;= DATEADD(MINUTE,-20,#{beginTime})</if>
            <if test="endTime != null and endTime != ''"> and wwob.LAST_UPDATE_DATE &lt; #{endTime}</if>
            <if test="organizationId != null "> and wwob.ORGANIZATION_ID = #{organizationId}</if>
            <if test="workOrderStatusId != null "> and wwob.WORK_ORDER_STATUS_ID = #{workOrderStatusId}</if>
            <if test="workDefName != null "> and wwdn.WORK_DEF_NAME like (#{workDefName} + '%')</if>
            <if test="itemNumber != null  and itemNumber != ''"> and wwob.p_item_number like (#{itemNumber} + '%')</if>
        </where>
    </select>


    <delete id="deleteSyncWieWorkOrdersBEO">
        delete from sync_wie_work_orders_b where WORK_ORDER_ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.workOrderId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <insert id="batchSyncWieWorkOrdersBEO">
        insert into sync_wie_work_orders_b( WORK_DEFINITION_ID,ORGANIZATION_ID, WORK_ORDER_ID, WORK_ORDER_NUMBER, WORK_ORDER_TYPE, WORK_ORDER_STATUS_ID, INVENTORY_ITEM_ID, PLANNED_START_QUANTITY, COMPLETED_QUANTITY, UOM_CODE, COMPL_SUBINVENTORY_CODE, PLANNED_START_DATE, PLANNED_COMPLETION_DATE, WORK_ORDER_DESCRIPTION, LAST_UPDATE_DATE, LAST_UPDATED_BY,WORK_ORDER_PRIORITY) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.workDefinitionId,jdbcType=BIGINT},#{item.organizationId,jdbcType=BIGINT}, #{item.workOrderId,jdbcType=BIGINT}, #{item.workOrderNumber,jdbcType=VARCHAR}, #{item.workOrderType,jdbcType=VARCHAR}, #{item.workOrderStatusId,jdbcType=BIGINT}, #{item.inventoryItemId,jdbcType=BIGINT}, cast(#{item.plannedStartQuantity,jdbcType=DECIMAL} as decimal(15,5)), cast(#{item.completedQuantity,jdbcType=DECIMAL} as decimal(15,5)), #{item.uomCode,jdbcType=VARCHAR}, #{item.complSubinventoryCode,jdbcType=VARCHAR}, #{item.plannedStartDate,jdbcType=TIMESTAMP}, #{item.plannedCompletionDate,jdbcType=TIMESTAMP}, #{item.workOrderDescription,jdbcType=VARCHAR}, #{item.lastUpdateDate,jdbcType=TIMESTAMP}, #{item.lastUpdatedBy,jdbcType=VARCHAR},#{item.workOrderPriority,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>