<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinexcel.quartz.mapper.SyncEgpCategoryBMapper">

    <resultMap type="SyncEgpCategoryBEO" id="SyncEgpCategoryBEOResult">
    </resultMap>


    <delete id="deleteSyncEgpCategoryBEO">
        delete from sync_egp_categories_b where
        <foreach collection="list" item="item" index="index" separator="or">
            CATEGORY_ID=#{item.categoryId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <insert id="batchSyncEgpCategoryBEO">
        insert into sync_egp_categories_b( CATEGORY_ID, DISABLE_DATE, SUMMARY_FLAG, ENABLED_FLAG, START_DATE_ACTIVE, END_DATE_ACTIVE, WEB_STATUS, SUPPLIER_ENABLED_FLAG, CATEGORY_CONTENT_CODE, CATEGORY_CODE, last_update_date, creation_date, created_by, last_updated_by, CATEGORY_NAME, DESCRIPTION) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.categoryId,jdbcType=BIGINT}, #{item.disableDate,jdbcType=TIMESTAMP}, #{item.summaryFlag,jdbcType=VARCHAR}, #{item.enabledFlag,jdbcType=VARCHAR}, #{item.startDateActive,jdbcType=TIMESTAMP}, #{item.endDateActive,jdbcType=TIMESTAMP}, #{item.webStatus,jdbcType=VARCHAR}, #{item.supplierEnabledFlag,jdbcType=VARCHAR}, #{item.categoryContentCode,jdbcType=VARCHAR}, #{item.categoryCode,jdbcType=VARCHAR}, #{item.lastUpdateDate,jdbcType=TIMESTAMP}, #{item.creationDate,jdbcType=TIMESTAMP}, #{item.createdBy,jdbcType=VARCHAR}, #{item.lastUpdatedBy,jdbcType=VARCHAR}, #{item.categoryName,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>